/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* 顏色 */
:root {
	--primary-100: #F5FEE7;
	--primary-400: #57A203;
	--neutral-0: #FFFFFF;
	--neutral-100: #F8F9FA;
	--neutral-300: #DEE2E6;
	--neutral-600: #6C757D;
	--neutral-900: #212529;

}

/* 標籤基本樣式 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	vertical-align: middle;

}

a {
	color: var(--primary-400);
	text-underline-offset: 4px;
	display: block;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: var(--neutral-900);
}

/* 通用樣式 */
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}

.d-flex {
	display: flex;
}

@media(max-width: 576px) {
	.d-sm-block {
		display: block;
	}

	.d-sm-none {
		display: none;
	}
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.h1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}

.h2 {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}

.h3 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
}

.h4 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}

.h5 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
}

.h6 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
}

@media(max-width: 767px) {
	.h3-md {
		font-size: 28px;
	}

	.h4-md {
		font-size: 24px;
	}

	.h5-md {
		font-size: 20px;
	}

	.h6-md {
		font-size: 16px;
	}
}

@media(max-width: 576px) {
	.h3-sm {
		font-size: 28px;
	}

	.h4-sm {
		font-size: 24px;
	}

	.h5-sm {
		font-size: 20px;
	}

	.h6-sm {
		font-size: 16px;
	}
}

.text-sm {
	font-size: 14px;
	font-weight: 400;
}

.text-white {
	color: var(--neutral-0);
}

.text-neutral-600 {
	color: var(--neutral-600);
}

.text-primary-400 {
	color: var(--primary-400);
}

.bg-primary-100 {
	background-color: var(--primary-100);
}

.bg-neutral-100 {
	background-color: var(--neutral-100);
}

.p-12 {
	padding: 12px;
}

.p-32 {
	padding: 32px;
}

.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.py-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}

.pb-48 {
	padding-bottom: 48px;
}

.pe-8 {
	padding-right: 8px;
}

@media(max-width: 767px) {
	.p-md-24 {
		padding: 24px;
	}

	.py-md-16 {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.py-md-32 {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.pb-md-32 {
		padding-bottom: 32px;
	}
}

@media(max-width: 576px) {
	.px-sm-12 {
		padding-left: 12px;
		padding-right: 12px;
	}

	.py-sm-12 {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.py-sm-32 {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}



.mb-4 {
	margin-bottom: 4px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-48 {
	margin-bottom: 48px;
}

@media(max-width: 767px) {
	.mb-md-0 {
		margin-bottom: 0;
	}

	.mb-md-8 {
		margin-bottom: 8px;
	}

	.mb-md-12 {
		margin-bottom: 12px;
	}

	.mb-md-16 {
		margin-bottom: 16px;
	}

	.mb-md-24 {
		margin-bottom: 24px;
	}

	.mb-md-32 {
		margin-bottom: 32px;
	}
}


@media(max-width: 576px) {
	.me-sm-0 {
		margin-right: 0;
	}

	.me-sm-16 {
		margin-right: 16px;
	}

	.mb-sm-4 {
		margin-bottom: 4px;
	}

	.mb-sm-8 {
		margin-bottom: 8px;
	}
}

.me-40 {
	padding-right: 40px;
}

.me-48 {
	padding-right: 48px;
}

/* page */
/* (400-96)/2=152 */
.header {
	background-image: url(/img/Hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 152px 0;
	text-align: center;
}

.eng-title {
	font-size: 28px;
}

@media(max-width: 767px) {
	.header {
		padding: 87px 0;
		background-image: url(/img/hero-sm.png);
	}

	.eng-title {
		font-size: 20px;
	}
}


.quote {
	border-radius: 12px;
	text-align: center;
}

@media(max-width: 767px) {
	.quote {
		text-align: left;
	}
}

.intro {
	width: 1076px;
	margin-right: -110px;
	margin-left: -110px;
	vertical-align: middle
}

.section-lined {
	border-bottom: 1px solid var(--neutral-300);
}

.history-desc {
	border-left: 1px solid var(--neutral-900);
	padding-left: 8px;
}

.history-list {
	list-style-type: disc;
	padding-left: 24px;
}

.concept-item {
	padding-left: 12px;
	border-left: 3px solid var(--neutral-300);
}

.bi {
	padding-right: 8px;
	vertical-align: bottom;
}

.footer {
	text-align: center;
}